.projects-container {
  background-color: #000; /* Dark theme */
  color: #fff;
  padding: 0 16px;
}

.projects-title {
  color: #e50914; /* Netflix red accent */
  font-weight: bold;
  margin-bottom: 28px !important;
}

.projects-container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 4px;
}
